*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* HEADER */

    .header{
        width: 100%;
        height: 100vh;
        background-image: url(../images/machete\ background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
        .header-main{
            width: 100%;
            height: 70px;
            background-color: rgba( 150, 150, 150, .3);
            margin-top: 0;
            display: flex;
            justify-content: space-between;
        }
            .header-menu{
                width: 110px;
                height: 40px;
                background-image: url(../images/bar.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                margin-left: 40px;
                margin-top: 10px;
                margin-right: 40px;

            }
            .header-logo{
                width: 155px;
                background-image: url(../images/Machete\ white.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            .header-icon{
                width: 48px;
                height: 48px;
                background-image: url(../images/account.png);
                margin-top: 10px;
                margin-right: 40px;
            }
        

    /* INFORMATION */

    .info{
        width: 50%;
        height: 400px;
        margin: 0px auto; 
        margin-top: 100px;
    }
        .info-title{
            text-align: center;
            font-size: 50px;
        }
        .info-subtitle{
            text-align: center;
            padding: 20px;
            font-size: 20px;
        }
        .info-line{
            width: 50px ;
            height: 1px;
            background: black;
            margin: 0 auto;
        }
        .info-text{
            padding-top: 20px;
            text-align: center;
        }

        /* GALERY */
    .galery{
        width: 100%;
        height: 200px; 
        margin: 5px 0;
        display: flex;
    }
        .galery-icon{
            flex: 2;
            margin-left: 5px;
            background: red;
            border-radius: 10px;
            background-image: url(../images/two-professional-boxer-boxing-black-smoky.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .icon1{
            flex: 1;
        }
        .icon2{
            flex: 2;
        }
        .icon3{
            flex: 2;
        }
        .icon4{
            flex: 2;
        }
        .icon5{
            flex: 2;
        }
        .icon6{
            flex: 2;
        }
        .icon7{
            flex: 2;
        }
        .team-line{
            width: 100%;
            height: 25px;
            display: flex;
            justify-content: space-between;
            margin: 50px 0;
        }
            .team-line-left{
                flex: 3;
                height: 5px;
                margin-top: 10px;
                background: black;
                border-bottom-right-radius: 15px;
                border-top-right-radius: 15px;
            }
            .team-words{
                text-align: center;
                font-size: 25px;
                font-weight: 700;
                margin: 0 20px;
            }
            .team-line-right{
                flex: 3;
                background: black;
                height: 5px;
                margin-top: 10px;
                border-bottom-left-radius: 15px;
                border-top-left-radius: 15px;
            }

    
            .carousel-item img{
                width: 100;
                height: 500px;
            }